In [17]:
# Dependencies

from sklearn import tree
import pandas as pd

In [18]:
df = pd.read_csv("Resources/diabetes.csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [19]:
# Step 1: Make your datasets

pretarget = df["Outcome"]
target = pd.DataFrame(pretarget)
target.head()

   Outcome
0        1
1        0
2        1
3        0
4        1

In [20]:
target_names = ["negative", "positive"]
target_names

['negative', 'positive']

In [21]:
# Data set is created here
data = df.drop("Outcome", axis=1)

# Print out the names of all the columns (features)
feature_names = data.columns
print(feature_names)

data.head()

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age'],
      dtype='object')

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

# The X in this case is "data", all the independent variables that affect the results (Outcome)

# The y in this case is "target", because it is the variable that changes based on the variables in X

In [22]:
# Step 2: Split the data into training and testing data

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=1)

In [23]:
# Make the Decision Tree Classifier

clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test) #Find the R2 score

0.7083333333333334

In [24]:
# Optional Step: Make a Random Forest Classifier

from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

/Users/gianmillare/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

0.8020833333333334

In [25]:
# Step 3: Get the feature importances

sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.24958775137592723, 'Glucose'),
 (0.16932241785039998, 'BMI'),
 (0.1325745114487699, 'Age'),
 (0.12464825595336027, 'DiabetesPedigreeFunction'),
 (0.0922134772371428, 'BloodPressure'),
 (0.0858818659243335, 'Pregnancies'),
 (0.07370157980869702, 'Insulin'),
 (0.07207014040136951, 'SkinThickness')]