# Smartphone Activity Detector - Deep Learning Models

[Source](http://archive.ics.uci.edu/ml/datasets/Smartphone-Based+Recognition+of+Human+Activities+and+Postural+Transitions)  

Objective: Predict movements and activity based on smartphone sensor data. Note: The data is already scaled and training and testing data is split into 4 separate files.

### Note the labels (y outputs) are interpreted as the below

* 1 WALKING
* 2 WALKING_UPSTAIRS
* 3 WALKING_DOWNSTAIRS
* 4 SITTING
* 5 STANDING
* 6 LAYING
* 7 STAND_TO_SIT
* 8 SIT_TO_STAND
* 9 SIT_TO_LIE
* 10 LIE_TO_SIT
* 11 STAND_TO_LIE
* 12 LIE_TO_STAND

In [24]:
# Step 1: Import Dependencies

import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense
from keras.utils import to_categorical
import numpy as np
import pandas as pd
import os

In [25]:
# Step 2: Get the data
X_train = os.path.join("resources", "smartphone_x_train.txt")
y_train = os.path.join("resources", "smartphone_y_train.txt")
X_test = os.path.join("resources", "smartphone_x_test.txt")
y_test = os.path.join("resources", "smartphone_y_test.txt")

### Data Preprocessing

In [26]:
# Step 3: because the data is already scaled and split into testing/training sets, I just put the data into Pandas form

X_train_df = pd.read_csv(
    X_train, delimiter=" ", skiprows=1, header=None
)
X_train_df.head()

,0,1,2,3,4,5,6,7,8,9,...,551,552,553,554,555,556,557,558,559,560
0,0.039480,-0.002131,-0.029067,-0.998348,-0.982945,-0.971273,-0.998702,-0.983315,-0.974000,-0.802537,...,0.202804,-0.603199,-0.860677,0.053477,-0.007435,-0.732626,0.703511,-0.845092,0.180261,-0.047436
1,0.039978,-0.005153,-0.022651,-0.995482,-0.977314,-0.984760,-0.996415,-0.975835,-0.985973,-0.798477,...,0.440079,-0.404427,-0.761847,-0.118559,0.177899,0.100699,0.808529,-0.849230,0.180610,-0.042271
2,0.039785,-0.011809,-0.028916,-0.996194,-0.988569,-0.993256,-0.996994,-0.988526,-0.993135,-0.798477,...,0.430891,-0.138373,-0.491604,-0.036788,-0.012892,0.640011,-0.485366,-0.848947,0.181907,-0.040826
3,0.038758,-0.002289,-0.023863,-0.998241,-0.986774,-0.993115,-0.998216,-0.986479,-0.993825,-0.801982,...,0.137735,-0.366214,-0.702490,0.123320,0.122542,0.693578,-0.615971,-0.848164,0.185124,-0.037080
4,0.038988,0.004109,-0.017340,-0.997438,-0.993485,-0.996692,-0.997522,-0.993494,-0.996916,-0.801982,...,0.074999,-0.554902,-0.844224,0.082632,-0.143439,0.275041,-0.368224,-0.849927,0.184795,-0.035326

In [27]:
# Step 4: I convert the X training values into a numpy array to use Keras
X_train = X_train_df.values
X_train

array([[ 0.03948004, -0.00213128, -0.02906736, ..., -0.8450924 ,
         0.18026111, -0.04743634],
       [ 0.03997778, -0.00515272, -0.02265071, ..., -0.84923013,
         0.18060956, -0.04227136],
       [ 0.03978456, -0.01180878, -0.02891578, ..., -0.84894659,
         0.18190709, -0.04082622],
       ...,
       [ 0.03745094, -0.00272442,  0.02100941, ..., -0.77956634,
         0.24912145,  0.04707077],
       [ 0.04401105, -0.00453578, -0.0512422 , ..., -0.78560327,
         0.24640867,  0.03170003],
       [ 0.06895376,  0.00181032, -0.08032343, ..., -0.78369253,
         0.24678499,  0.04298129]])

In [28]:
# Step 5: Preprocess the y values (outputs) similar to what I did to the X values

y_train_df = pd.read_csv(y_train)
y_train_df.head()

   5
0  5
1  5
2  5
3  5
4  5

In [29]:
# Step 5a:  One hot encode the labels into a numpy array
y_train = to_categorical(y_train_df)
y_train[:10]

array([[0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.]],
      dtype=float32)

In [30]:
# Repeat step 3-5 for the testing data

X_test_df = pd.read_csv(X_test, delimiter=" ", skiprows=1, header=None)
X_test = X_test_df.values

y_test_df = pd.read_csv(y_test)
y_test = to_categorical(y_test_df)

print(X_test.shape, y_test.shape)

(3161, 561) (3161, 13)